*{
    margin:0;
}

body{
    background-color:#1e1e1e;  
    color:whitesmoke;  
        font-family: "Alumni Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal; ;
    }
a{
text-decoration: none;
color: white;
font-size: 45px; 
display:inline-block;

}
header{
    background-color:black;
    padding:30px 5%;
    at
}
.logo{
    margin-right:600px;
}
.link{
margin-right: 70px;
}
b{
background-color:#131313;
width:max-content;
padding-left:10px;
padding-right:10px;
font-size:45px;
background-size: 60px;
}
article{
    margin:30px;
}
p{
    font-size:40px;
    margin-top:20px;
    background-color: #131313;
    background-size: 60px;
}

